Index:
  StandardLibrary: No

CompileFlags:
  CompilationDatabase: build
  Add:
    - -Isrc
    - -Isrc/actor/backends
    - -Isrc/engine
    - -Isrc/lc0
    - -I/opt/homebrew/include
    - -xc++
    - -std=c++23
