Index:
  StandardLibrary: No

CompileFlags:
  Add:
    - -Isrc
    - -Isrc/lc0
    - -I/opt/homebrew/include
    - -DNO_PEXT # Remove this once we have a PEXT-enabled build
    - -xc++
    - -std=c++23
